*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

#app {
  max-width: 480px;
  margin: 0 auto;
  padding: 40px 20px;
}

.page-title {
  margin-bottom: 20px;
}
